 .btn-blue {
  	background-color:#F6CED6 ;
  	padding: 15px 20px;
  	border-radius: 4px;
  	color: floralwhite;
  	font-weight: normal ;
  	font-family: 'Shrikhand', sans-serif;
    //margin-bottom: 80px;

  }